@page
@model eStore.Pages.Admin.AddCategoryModel

<h2>Thêm mới Danh mục</h2>
<form method="post">
    <div class="form-group">
        <label for="CategoryName">Tên Danh mục</label>
        <input type="text" class="form-control" id="CategoryName" name="Category.CategoryName" required />
    </div>
    <button type="submit" class="btn btn-primary">Thêm Danh mục</button>
</form>

